_Resharper*
**/bin/**
**/csx/**
**/ecf/**
**/obj/**
*.azurePubXml
*.wadcfgx
.vs/*
*.suo
*.user
*.cache
*.dbml
debug
release
.svn
BuildResults.xml
*.results.xml
test-results.html
*.orig
TestResults/*
_Upgrade*
*.sln.ide/*
*.suo

